@font-face {
    font-family: "Canela";
    src: url("Canela.ttc")
}

@font-face {
    font-family: "Montserrat-SemiBold";
    /*src: url("./font/Montserrat-SemiBold.ttf");*/
    src: url("Montserrat-SemiBold.ttf");
}


#cms table {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
}

#cms .slick-container .slide-item {
    position: relative;
}
    #cms .slick-container .slide-item img {
        object-fit: cover;
        object-position: center;
    }
    #cms .slick-container .slide-item .slide-item-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
        #cms .slick-container .slide-item .slide-item-text span {
            /*font-family: "Montserrat-SemiBold";*/
            font-family: "Canela";
            font-weight: bold;
            display: block;
            text-align: left;
            color: white;
            font-size: 42px;
            width: 100%;
            line-height: 55px;
            padding-left: 90px;
        }

#cms #content table  {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0;
    margin-bottom: 70px;
}
    #content table tr.text-block {
        height: 350px;
        position: relative;
        z-index: 1;
    }
    #content table td tr.text-block p:nth-child(2)  {
        line-height: 1.5em;
        margin-top:0px;
        margin-bottom:1rem;
        font-size:24px;
        font-family: "Canela";
        font-weight: bold;
        color: #473b32;
    }

     #content .table-tr {
        height: 450px;
        position: relative;
        z-index: 1;
    }

        #content table .table-td {
            height: 300px;
            /*position: relative;*/
            /*z-index: 2;*/
        } 

            .container-left {
                float: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .container-right {
                float:right;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
/*##### RIGHT */
            #content .full-background-right::before {
                position: absolute;
                content: '';
                width: 1000%;
                top:0;
                right: 200px;
                bottom: 0;
                background-color: #ceb9a5;
            }

            #content table tr .right-circle::before  {
                position: absolute;
                content: '';
                background-color:#ceb9a5;
                top: 0;
                right: -90px;
                z-index: 1;
                height: 100%;
                width: 450px;
                border-radius: 0 50% 50% 0;
            }

            #content .half-background-right {
                background-color: #ceb9a5;
                border-radius: 0 50% 50% 0;
            }
/*##### LEFT*/
            #content .full-background-left::before {
                position: absolute;
                content: '';
                width: 1000%;
                top:0;
                left: 200px;
                bottom: 0;
                background-color: #d2ab97;
            }
            #content table tr .left-circle::before  {
                position: absolute;
                content: '';
                background-color:#d2ab97;
                top: 0;
                left: -90px;
                z-index: 1;
                height: 100%;
                width: 450px;
                border-radius: 50% 0 0 50%;
            }
            #content .half-background-left {
                background-color: #d2ab97;
                border-radius: 50% 0 0 50%;
            }
/*#####*/
#content table td > div {
    position: relative;
    z-index: 2;
}

#content table td > div > a {
    width: 240px;
    padding: 15px 30px;
    font-size: 18px;
    background-color:#715846;
    color: white;
    border-radius: 30px;
    font-family: "Canela";
    letter-spacing: -1px;
}

#content table td .table-title  {
    line-height: 1.5em;margin-top:0px;margin-bottom:1rem;font-size:28px;
    color: #473b32;
    font-family: "Canela";
}

#content table td .table-text  {
    line-height: 1.5em;margin-top:0px;margin-bottom:1rem;font-size:22px;
    color: #473b32;
    font-family: "Canela";
    /*font-weight: bold;*/
}





.progress-bar {
    display: inline-block;
    width: 380px;
    text-align: right;
}
.progress-bar:last-child {
    margin-bottom: 0;
}

.progress-bar > .top {
    display: inline-block;
    width: 100%;
}

.progress-bar > .top > .label {
    display: inline-block;
    float: left;
}
.progress-bar > .top > .value {
    display: inline-block;
    float: right;
}

.progress-bar > .bar {
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius:  10px;
}

.progress-bar > .bar > .fill {
    border-radius:  10px;
    background-color: #5f4b3c;
    display: inline-block;
    width: 50%;
    height: 20px;
    float:left;
}
.progress-bar > .bar > .fill-right {
    border-radius:  10px;
    background-color: #5f4b3c;
    display: inline-block;
    width: 50%;
    height: 20px;
    float:right;
}

#cms .progress-bar > p {
    font-family: "Montserrat-SemiBold";
    color: #473b32;
}




#content .full-background-right-orange::before {
    position: absolute;
    content: '';
    width: 1000%;
    top:0;
    right: 200px;
    bottom: 0;
    background-color: #e9bd88;
}

#content table tr .right-circle-range::before  {
    position: absolute;
    content: '';
    background-color:#e9bd88;
    top: 0;
    right: -90px;
    z-index: 1;
    height: 100%;
    width: 450px;
    border-radius: 0 50% 50% 0;
}

#content .half-background-right-orange {
    background-color: #e9bd88;
    border-radius: 0 50% 50% 0;
}

/*///////////// INDEX 2  - first capsule both ends ///// */
#content table tr .right-circle-sand::before  {
    position: absolute;
    content: '';
    background-color:#ceb9a5;
    top: 0;
    right: -90px;
    z-index: 1;
    height: 100%;
    width: 450px;
    border-radius: 0 50% 50% 0;
}

#content .half-background-right-sand {
    background-color: #ceb9a5;
    border-radius: 0 50% 50% 0;
}

#content table tr .left-circle-sand::before  {
    position: absolute;
    content: '';
    background-color:#ceb9a5;
    top: 0;
    left: -320px;
    z-index: 1;
    height: 100%;
    width: 450px;
    border-radius: 50% 0 0 50%;
}
/*//////*/

#content .half-background-left-sand {
    background-color: #ceb9a5;
}

.image-block {
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 400px;
}

#content .full-background-left-darker-brown::before {
    position: absolute;
    content: '';
    width: 1000%;
    top:0;
    bottom: 0;
    left:200px;
    background-color: #977d67;
}
#content table tr .left-circle-darker-brown::before  {
    position: absolute;
    content: '';
    background-color:#977d67;
    top: 0;
    left: -110px;
    z-index: 1;
    height: 100%;
    width: 600px;
    border-radius: 50% 0 0 50%;
}
#content .half-background-left-darker-brown {
    background-color: #977d67;
    border-radius: 50% 0 0 50%;
}

#cms .table-img {
    max-width: 600px;
}
#cms .table-img img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
}

/*///////////// INDEX 3 ///// */

#cms .image-link-wrapper {
    height: auto;
}

#cms .image-link-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 20px;
}
    #cms .image-link-container .image-link-item {
        position: relative;
        width: 100%;
        height: auto;
    }
    #cms .image-link-item::after {
        content: '';
        background-image: linear-gradient(to top, rgba(44, 20, 4, 0.767) , rgba(255, 255, 0, 0));
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
        #cms .image-link-item .image-link {
            
        }
            #cms .image-link-item .image-link img {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }
        #cms .image-link-item .image-link-text {
            z-index: 3;
            position: absolute;
            width: 100%;
            top: 42%;
            left: 50%;
            transform: translate(-50%);
        }
        
            #cms .image-link-item .image-link-text span {
                color: white;
                font-size: 28px;
                padding: 0 15px;
                line-height: 25px;
            }


#cms .text-block-2 {
    padding-top: 80px;
    padding-bottom: 25px;
}
    #cms .text-block-2 p {
        font-size: 26px;
    }
#cms .text-block-3 {
    padding-top: 20px;
    padding-bottom: 25px;
}

#cms .banner-3 .image-block-3 {

}

    #cms .banner-3 .image-block-3 {
        margin: 25px 0 10px 0;
        margin-right: 0;
        margin-left: 0;
        position: relative;
        z-index: 1;
    }

    #cms .banner-3 .image-block-3::after {
        content: '';
        position: absolute;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.534) , rgba(255, 255, 0, 0));
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 500px;
        z-index: 2;
    }

        #cms .banner-3 .image-block-3 .image-3 {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            max-height: 500px;
            position: relative;
            z-index: 1;
            object-fit: cover;
            object-position: center;
        }

    #cms .banner-3 .image-block-text-3 {
        z-index: 3;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
        #cms .banner-3 .image-block-text-3 span {
            color: white;
            font-size: 34px;
            padding: 0 15px;
        }



#cms .image-link-wrapper {
    height: auto;
}

#cms .image-link-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 20px;
}
    #cms .image-link-container .image-link-item-2 {
        position: relative;
        width: 100%;
        height: auto;
    }

    #cms .image-link-container .border-brown {
        border: rgba(48, 22, 5, 0.534) solid 4px;
    }

        #cms .image-link-item-2 .image-link {
            
        }
            #cms .image-link-item-2 .image-link img {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }
        #cms .image-link-item-2 .image-link-text {
            z-index: 3;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            height:60px;
        }
        
            #cms .image-link-item-2 .image-link-text span {
                text-align: center;
                color: #473b32;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-content: center;
            }


#cms .image-link-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 20px;
}
    #cms .image-link-container .image-link-item-3 {
        position: relative;
        width: 100%;
        height: auto;
    }
            #cms .image-link-item-3 .image-link img {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }


#cms .banner-4 {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    z-index: 1
}

    #cms .banner-4 .image-block-4 {
        margin-right: 0;
        margin-left: 0;
        position: relative;
        z-index: 1;
    }

    #cms .banner-4  .image-block-4::after {
        content: '';
        position: absolute;
        background-image: linear-gradient(to top, rgba(48, 22, 5, 0.76) , rgba(255, 255, 0, 0));
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 400px;
        z-index: 2;
    }

        #cms .banner-4  .image-block-4 .image-4 {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            max-height: 400px;
            position: relative;
            z-index: 1;
            object-fit: cover;
            object-position: bottom;
        }

    #cms .banner-4  .image-block-text-4 {
        z-index: 3;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
        #cms .banner-4 .image-block-text-4 span {
            color: white;
            font-size: 34px;
            padding: 0 15px;
        }

#cms .image-link-wrapper-5 {
    height: auto;
}

#cms .image-link-container-5 {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 20px;
}
    #cms .image-link-container-5 .image-link-item-5 {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #cms .image-link-container-5 .border-brown-5 {
        border: rgba(48, 22, 5, 0.534) solid 4px;
    }

        #cms .image-link-item-5 .image-link-5 {
            
        }
            #cms .image-link-item-5 .image-link-5 img {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }
        #cms .image-link-item-5 .image-link-text-5 {
            font-size: 20px;
            padding-bottom: 10px;
        }
        